#############################################
###Global plugin configuration
#############################################
global:
  enabled: false

#############################################
###Specific configuration for plugin components
#############################################
settings:
  #############################################
  ###Should the world always snow
  #############################################
  snowing: true

  #############################################
  ###Settings relative to terrain snow coverage
  #############################################
  surface:
    enabled: true
    blocks:
    - minecraft:snow[layers=1]
    - minecraft:snow[layers=2]
    - minecraft:snow[layers=3]

  #############################################
  ###Settings relative to the surface water replacement
  #############################################
  water:
    enabled: true
    blocks:
    - minecraft:ice
    - minecraft:packed_ice
    - minecraft:blue_ice
